.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.time-control {
    width: 50%;
    display: flex;
    input{
        width: 100%;
        padding: 1rem 0rem;
    }

    p {
        padding: 1rem;
    }
}

.player-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    svg {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .player {
        display: flex;
        margin-left: 20px;
    }

    .time-control {
        width: 90%;
    }

    .player-control {
        width: 60%;
    }
}