.song-container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
        border-radius: 50%;
        width: 15%;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .song-container {
        margin-left: 20px;

        img {
            width: 60%;
        }
    }
}